body{
    text-align: center;
    color: gray;
}
.mainarea
{
    display: flex;
    justify-content: space-around;
}
.editiors
{
    background-color: rgb(103, 198, 140);
    width: 100%;
}
textarea
{
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    font-size: x-large;
}
iframe{
    width: 100%;
    height: 30em;
}